<?xml version='1.0' encoding='utf-8'?>
<widget id="com.wenshu.app" version="5.16.2" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>文舒</name>
    <description>替你听落笔声音的小说工坊</description>
    <author email="dev@wenshu.app" href="https://wenshu.app">文舒团队</author>
    <content src="html/index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="mailto:*" />
    <allow-navigation href="*" />
    <preference name="Orientation" value="portrait" />
    <preference name="Fullscreen" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="BackgroundColor" value="#fff3eddc" />
    <preference name="AndroidLaunchMode" value="singleTask" />
    <preference name="AndroidInsecureFileModeEnabled" value="true" />
    <preference name="MixedContentMode" value="0" />
    <preference name="loadUrlTimeoutValue" value="60000" />
    <preference name="SplashScreenDelay" value="600" />
    <preference name="StatusBarOverlaysWebView" value="true" />
    <preference name="StatusBarBackgroundColor" value="#00000000" />
    <preference name="StatusBarStyle" value="default" />
    <platform name="android">
        <preference name="android-minSdkVersion" value="24" />
        <preference name="android-targetSdkVersion" value="34" />
        <allow-intent href="market:*" />
        <icon density="ldpi" src="res/icons/android/icon-ldpi.png" />
        <icon density="mdpi" src="res/icons/android/icon-mdpi.png" />
        <icon density="hdpi" src="res/icons/android/icon-hdpi.png" />
        <icon density="xhdpi" src="res/icons/android/icon-xhdpi.png" />
        <icon density="xxhdpi" src="res/icons/android/icon-xxhdpi.png" />
        <icon density="xxxhdpi" src="res/icons/android/icon-xxxhdpi.png" />
        <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
            <application android:usesCleartextTraffic="true" />
        </edit-config>
    </platform>
    <platform name="ios">
        <preference name="deployment-target" value="14.0" />
        <preference name="target-device" value="universal" />
        <preference name="WKWebViewOnly" value="true" />
        <preference name="AllowInlineMediaPlayback" value="true" />
        <icon src="res/icons/ios/icon.png" />
        <edit-config file="*-Info.plist" mode="merge" target="ITSAppUsesNonExemptEncryption">
            <false />
        </edit-config>
    </platform>
    <hook type="before_prepare" src="hooks/build-vite.js" />
    <hook type="after_prepare" src="hooks/sync-vite-www.js" />
    <plugin name="cordova-plugin-vibration" spec="~3.1.1" />
    <plugin name="cordova-plugin-x-socialsharing" spec="~6.0.4" />
    <plugin name="cordova-plugin-haptic" spec="~1.0.0" />
</widget>
